@import "variables";

footer {
	background: linear-gradient(180deg, #fff 0%, #f6f6f6 100%);
	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: center;
		margin-top: 10vh;
		div {
			font-size: 2em;
			position: relative;
			width: 100%;
			span {
				background-color: #fff;
				display: inline-block;
				width: 80px;
				position: relative;
				img {
					width: 40px;
				}
			}
			&:before {
				content: " ";
				display: block;
				width: 100%;
				height: 1px;
				background-color: #000;
				position: absolute;
				left: 0%;
				top: 42%;
			}
		}
	}
	.footer-grid {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		gap: 24px;
		.grids {
			width: 100%;
			padding: 0px 50px;
		}
	}
	.bottom-footer {
		width: 100%;
		padding: 25px 0px;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	h2 {
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 25px;
		font-size: 18px
	}
	.footer-bottom {
		.input-wrapper {
			margin-bottom: 10px;
			height: 100px;
			width: 100%;
			overflow: hidden;
			position: relative;
			input {
				background: none;
				border: none;
				border-bottom: 1px solid rgba(0, 0, 0, 0.5);
				height: 40px;
				width: 100%;
				font-size: 16px;
				outline: none;
				position: absolute;
				bottom: 30%;
				left: 0;
				padding-right: 64px;
				color: #7f7f7f;
				&:focus {
					~ {
						label {
							span {
								color: #272727;
								font-size: calc($font-size * 0.7);
								transform-origin: top left;
								transform: translateY(calc(-100% + -20%));
								-webkit-transform: translateY(calc(-100% + -20%));
								-moz-transform: translateY(calc(-100% + -20%));
								-ms-transform: translateY(calc(-100% + -20%));
								-o-transform: translateY(calc(-100% + -20%));
							}
							&::after {
								transform: translateX(0);
							}
						}
					}
				}
			}
			label {
				span {
					color: #000;
					height: calc(100% - $top-ofset - $bottom-ofset);
					width: 100%;
					line-height: calc($height * 0.8);
					font-size: 16px;
					position: absolute;
					pointer-events: none;
					transition: ease-out 0.1s;
					bottom: 41px;
					text-transform: uppercase;
				}
				&::after {
					content: '';
					background: #272727;
					height: 2px;
					width: 100%;
					position: absolute;
					bottom: 30%;
					left: 0;
					transition: 0.2s;
					transform: translateX(-100%);
				}
			}
			.error-message {
				color: #dc6478;
				display: none;
				font-size: calc($font-size * 0.7);
				position: absolute;
				bottom: 10px;
			}
			input.filled {
				~ {
					label {
						span {
							color: #272727;
							font-size: calc($font-size * 0.7);
							transform-origin: top left;
							transform: translateY(calc(-100% + -20%));
							-webkit-transform: translateY(calc(-100% + -20%));
							-moz-transform: translateY(calc(-100% + -20%));
							-ms-transform: translateY(calc(-100% + -20%));
							-o-transform: translateY(calc(-100% + -20%));
						}
						&::after {
							transform: translateX(0);
						}
					}
				}
				&:valid {
					~ {
						label {
							&::after {
								background: #32b478;
							}
							span {
								color: #32b478;
							}
						}
					}
				}
			}
			input.highlight-if-invalid {
				&:invalid {
					~ {
						label {
							&::after {
								background: #dc6478;
							}
							span {
								color: #dc6478;
							}
						}
						p.error-message {
							display: block;
						}
					}
				}
			}
		}
		.input-submit {
			position: absolute;
			right: 0;
			top: 28px;
			background: transparent;
			border: none;
			height: 40px;
			outline: none;
		}
	}
}
.footer-left {
	.grid-menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
			
			a {
				color: #000;
				cursor: ponter;
			}
	}
}
.footer-right {
	.social-grid {
		display: flex;
		flex-direction: column;
		.social {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			.bg {
				width: 32px;
				height: 32px;
				background: #f5e5d9;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 10px;
				}
			}
			&:nth-child(2) {
				img {
					width: 16px;
				}
			}
			p {
				margin-left: 10px;
			}
		}
	}
}

