@import 'animations';

.parallax {
  overflow: hidden;
  height: calc(100vh - 100px);

  .parallax-text {
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    
    h1{
      color: #fff;
      font-size: 48px;
      max-width: 50vw;
    }
  }

  .parallax-image {
    background-image: url("https://picsum.photos/1920/1080");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    height: 100%;
  }
}

.type-writer {
  &:after {
    content: '|';
    opacity: 1;
    margin-left: 2px;
    display: inline-block;
    animation: blink .7s infinite;
  }
}

@media(max-width: 992px) {
  .parallax, .parallax .parallax-text {
    height: calc(80vh - 100px);
  }

  .parallax .parallax-text {
    h1 {
      font-size: 22px;
      padding: 0px 25px;
      max-width: unset;
    }
  }
}