// Variables

$white: #fff;
$cultured: #f6f6f6;
$almond: #f5e5d9;
$gray: #272727;
$black: #000;
$ptSans: 'PT Sans', sans-serif;
$playfair: 'Playfair Display', serif;

      // input validate

      $height: 60px;
      $width: 100%;
      $font-size: 16px;
      $top-ofset: 30%;
      $bottom-ofset: 30%;
      $unfocus-color: rgba(0,0,0,0.5);
      $focus-color: #272727;
      $valid-color: rgb(50, 180, 120);
      $invalid-color: rgb(220, 100, 120);

// Mixins

@mixin space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius {
  border-radius: .75rem;
  -webkit-border-radius: .75rem;
  -moz-border-radius: .75rem;
  -ms-border-radius: .75rem;
  -o-border-radius: .75rem;
}

@mixin transition {
  transition: .3s ease-in-out!important;
  -webkit-transition: .3s ease-in-out!important;
  -moz-transition: .3s ease-in-out!important;
  -ms-transition: .3s ease-in-out!important;
  -o-transition: .3s ease-in-out!important;
}

@mixin label-form-transition {
  transform-origin: top left;
  transform: translateY(calc(-100% + -20%));
  -webkit-transform: translateY(calc(-100% + -20%));
  -moz-transform: translateY(calc(-100% + -20%));
  -ms-transform: translateY(calc(-100% + -20%));
  -o-transform: translateY(calc(-100% + -20%));
}